<div class="container">

    <h1>Main Map</h1>

    <figure id="myMap"></figure>

    <a href="/" class="btn btn-dark">Back to Homepage</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mainMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJjUzeG0WQ_oEe9YaRoUNWI-lhWdPB4oE&callback=initMap"></script>